.form {
  position: relative;
  z-index: 1;
  background: #12171e;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-detalle-producto{
  position: relative;
  z-index: 1;
  background: #282a2e;
  max-width: 360px;
  margin-top: 20px;
  margin-right: 16px;
  border-radius: 5%;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.boton-comprar{
  border-radius: 5%;
padding-left: 32px;
padding-bottom: 8px;
padding-right: 32px;
padding-top: 8px;
margin-right: 16px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.boton-boton{width: 100%; padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #095390;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 8px;
  }



.form-detalle-producto input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-detalle-producto button {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #095390;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form-detalle-producto .message {
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 12px;
}
.form-detalle-producto .message a {
  color: #095390;
  text-decoration: none;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #095390;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 12px;
}
.form .message a {
  color: #095390;
  text-decoration: none;
}

#borrar{
  background: none;
  font-size: 10px;
  color: grey;
}



#nombre {
  height: 40px;
  width: 345px;
  font-family: var(--text-font-family);
  font-size: 24px;

}

#editname{padding-left: 60px;}
#editarnombre{
  background: none;
  font-size: 14px;
  color: white;
}


#nombreb {
  height: 202px;
  width: 267px;
  font-family: var(--text-font-family);
  font-size: 10px;
}


#descripcion{
  font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#titulo{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 42;
  border: 0;
  color: #f8f8f8;
  font-size: 14px;
  font-size: 14px;
  text-align: left;
}

#contraseñas {
  color: #f2f2f2;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 5px;
}